.main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100dvw;
  height: 100dvh;

  .main-main {
    padding: 8px 16px;
    flex: 1 1 auto;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;

    @media screen and (orientation: landscape) and (width < 1200px) {
      padding: 8px 64px;
    }
  }

  .main-actionButton {
    position: fixed;
    width: 48px;
    height: 48px;
    bottom: 32px;
    right: 32px;
    transition: background-color 0.15s ease;
    &:hover {
      transition: background-color 0.15s ease;
      background-color: rgb(230, 230, 230);
    }
  }

  .main-actionButtonIcon {
    color: #0071e3;
    width: 24px;
    height: 24px;
  }
}
