.week {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  .week-content {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    height: 100%;
    gap: 8px 4px;
  }
}
