.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 30px 1fr;
  height: 100%;
  gap: 8px 4px;

  .week-weekday {
    border-bottom: 1px solid gray;
    font-size: 22px;
  }
}
